<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
   <div class="pagetitle">
<h2 style="text-align:center;">  Latest Releases </h2>
</div>

<div class="container">
<div class="release1">
<img src="static/img/WordPress.png" alt="logo"/>
<div>
<h1> Wordpress V 1.4.3 </h1>
<p> The latest release for Wordpress is here! <a href="#">Click here </a> for the release notes </p>
</div>
</div>


<div class="release2">
<img src="img/Squarespace.png" alt="logo"/>
<div>
<h1> Square Space V 2.3 </h1>
<p> View the latest release notes for Square Space! <a href="#">Click here </a> for the release notes </p>
</div>
</div>


<div class="release3">
<img src="img/Notepad++.png" alt="logo"/>
<div>
<h1> Notepad++ V 6.4 </h1>
<p> The latest release for Notepad++ is here! <a href="#">Click here </a> for the release notes </p>
</div>
</div>


<div class="release4">
<img src="img/Premiere.png" alt="logo"/>
<div>
<h1> Premier Pro V5.3 </h1>
<p> The latest release for Premier Pro is here! <a href="#">Click here </a> for the release notes </p>
</div>
</div>


<div class="release5">
<img src="img/Illustrator.png" alt="logo"/>
<div>
<h1> Illustrator V 3.6 </h1>
<p> The latest release for Illustrator is here! <a href="#">Click here </a> for the release notes </p>
</div>
</div>


<div class="release6">
<img src="img/Webflow.png" alt="logo"/>
<div>
<h1> Webflow V 4.1 </h1>
<p> The latest release for Webflow is here! <a href="#">Click here </a> for the release notes </p>
</div>
</div>

<div class="release7">
<img src="img/GIMP.png" alt="logo"/>
<div>
<h1> GIMP V 3.5.4 </h1>
<p> The latest release for GIMP is here! <a href="#">Click here </a> for the release notes </p>
</div>
</div>

</div>
   {% endblock %}
  </body>
</html>
