<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  </div>
<div class="pagetitle">
<h2 style="text-align:center;">  Content Managment Systems </h2>
</div>

<div class="container">
<div class="option1">
<img src="img/WordPress.png" alt="logo"/>
<div>
<h1> Wordpress </h1>
<p> Wordpress is one of the most popular content management systems available today. <a href="https://wordpress.com/">Click here </a> to check out its features </p>
</div>
</div>


<div class="option2">
<img src="img/Squarespace.png" alt="logo"/>
<div>
<h1> Square Space </h1>
<p> Square Space offers lots of great features that can help any web developer create stunning websites. <a href="https://www.squarespace.com/">Click here </a> to find out more </p>
</div>
</div>


<div class="option3">
<img src="img/Notepad++.png" alt="logo"/>
<div>
<h1> Drupal </h1>
<p> Competitive and upcoming content management system. <a href="https://www.drupal.com/">Click here </a> to see what Drupal can do for you! </p>
</div>
</div>


<div class="option4">
<img src="img/Premiere.png" alt="Logo"/>
<div>
<h1> Joomla </h1>
<p> Impressive features that could help any web developer  <a href="https://launch.joomla.org/">Click here </a> to see what Joomla can do! </p>
</div>
</div>



</div>




   {% endblock %}
  </body>
</html>
