<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  </div>
<div class="pagetitle">
<h2 style="text-align:center;">  Contact Us! </h2>
</div> 



<div class="container3">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    

    <label for="subject">Your Message</label>
    <textarea id="subject" name="subject" placeholder="Write your message here...." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>



   {% endblock %}
  </body>
</html>
