<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  </div>
<div class="pagetitle">
<h2 style="text-align:center;">  Databases </h2>
</div>

<div class="container">
<div class="option1">
<img src="img/WordPress.png" alt="logo"/>
<div>
<h1> Knack </h1>
<p> Build databases to help build your business. Knack has lots of great features. <a href="https://builder.knack.com/#welcome">Click here </a> to check out its features </p>
</div>
</div>


<div class="option2">
<img src="img/Squarespace.png" alt="logo"/>
<div>
<h1> Microsoft SQL Server </h1>
<p> Microsoft SQL Server offers lots of great features that can help any web developer requiring a database. <a href="https://www.microsoft.com/en-us/sql-server">Click here </a> to find out more </p>
</div>
</div>


<div class="option3">
<img src="img/Notepad++.png" alt="logo"/>
<div>
<h1> MySQL </h1>
<p> MySQL is perhaps the most widly used database software on the market and offers a ton of features. <a href="https://www.mysql.com/">Click here </a> to see what MySQL can do for you! </p>
</div>
</div>


<div class="option4">
<img src="img/Premiere.png" alt="logo"/>
<div>
<h1> Amazon Relational Database Service</h1>
<p> Impressive features that could help any web developer.  <a href="https://aws.amazon.com/rds/">Click here </a> to see what Amazon Relational Database Service can do! </p>
</div>
</div>



</div>




   {% endblock %}
  </body>
</html>
