<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  </div>
<div class="pagetitle">
<h2 style="text-align:center;">  Design </h2>
</div>

<div class="container">
<div class="option1">
<img src="img/WordPress.png" alt="logo"/>
<div>
<h1> Adobe Photoshop </h1>
<p> Edit and manipulate photos im many impressive way. Photoshop is the leading photo editing software on the market today. <a href="https://www.adobe.com/">Click here </a> to check out its features </p>
</div>
</div>


<div class="option2">
<img src="img/Squarespace.png" alt="logo"/>
<div>
<h1> GIMP </h1>
<p> GIMP offers lots of great features that can help any web developer with design elements...and its 100% free! <a href="https://www.gimp.org/">Click here </a> to find out more </p>
</div>
</div>


<div class="option3">
<img src="img/Notepad++.png" alt="logo"/>
<div>
<h1> Inkscape </h1>
<p> Inkscape offers a ton of features to help you get creative. <a href="https://inkscape.org/">Click here </a> to see what Inkscape can do for you! </p>
</div>
</div>


<div class="option4">
<img src="img/Premiere.png" alt="logo"/>
<div>
<h1> Sketch</h1>
<p> Impressive features that could help any web designer.  <a href="https://www.sketch.com/">Click here </a> to see what Sketch can do! </p>
</div>
</div>



</div>




   {% endblock %}
  </body>
</html>
