<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  </div>
<div class="pagetitle">
<h2 style="text-align:center;">  Domain Registars </h2>
</div>

<div class="container">
<div class="option1">
<img src="img/WordPress.png" alt="logo"/>
<div>
<h1> GoDaddy </h1>
<p> The most popular and highest rated website domain provider out there. <a href="https://uk.godaddy.com/">Click here </a> to check it out </p>
</div>
</div>


<div class="option2">
<img src="img/Squarespace.png" alt="logo"/>
<div>
<h1> BlueHost </h1>
<p> BlueHost offers lots of great features that can help any web developer find their perfect website domain. <a href="https://www.bluehost.com/">Click here </a> to find out more </p>
</div>
</div>


<div class="option3">
<img src="img/Notepad++.png" alt="logo"/>
<div>
<h1> Hostpapa  </h1>
<p> Hostpapa offers a large range of website domain names. <a href="https://www.hostpapa.co.uk/">Click here </a> to see what Hostpapa can provide for you! </p>
</div>
</div>


<div class="option4">
<img src="img/Premiere.png" alt="logo"/>
<div>
<h1> 123-Reg</h1>
<p> Provides many domain name to chose from. Find your perfect webist domain name today.  <a href="https://www.123-reg.co.uk/">Click here </a> to see what 123-Reg can do! </p>
</div>
</div>



</div>




   {% endblock %}
  </body>
</html>
