<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  </div>
<div class="pagetitle">
<h2 style="text-align:center;">  Images </h2>
</div>

<div class="container">
<div class="option1">
<img src="../static/img/shopify.png" alt="logo"/>
<div>
<h1> Shopify Burst </h1>
<p> A popular stock photo provider that aims at making searching for stock images ass simple as possible. <a href="https://burst.shopify.com/">Click here </a> to check out its features </p>
</div>
</div>


<div class="option2">
<img src="../static/img/pexels.png" alt="logo"/>
<div>
<h1> Pexels </h1>
<p> Pexels offers lots of stock images that can help any web developer to make their website look great!. <a href="https://www.pexels.com/">Click here </a> to find out more </p>
</div>
</div>


<div class="option3">
<img src="../static/img/unsplash.png" alt="logo"/>
<div>
<h1> Unsplash  </h1>
<p> Unsplash is perhaps the most popular stock photo provider on the market and offers a ton of great images. <a href="https://unsplash.com/">Click here </a> to see what Unsplash can provide for you! </p>
</div>
</div>


<div class="option4">
<img src="../static/img/snap.png" alt="logo"/>
<div>
<h1> StockSnap.io</h1>
<p> Impressive collection of photos that could help any web developer keep their websites looking great!  <a href="https://stocksnap.io/">Click here </a> to see what StockSnap.io can do! </p>
</div>
</div>



</div>




   {% endblock %}
  </body>
</html>
