<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  </div>
<div class="pagetitle">
<h2 style="text-align:center;">  Learn to Code </h2>
</div>

<div class="container">
<div class="option1">
<img src="img/WordPress.png" alt="logo"/>
<div>
<h1> freecodecamp.org </h1>
<p> This website allows you to learn to code languages such as JavaScript for free.  <a href="https://www.freecodecamp.org/">Click here </a> to check it out </p>
</div>
</div>


<div class="option2">
<img src="img/Squarespace.png" alt="logo"/>
<div>
<h1> udemy.com </h1>
<p> udemy.com offers a great community for online learning. Teach yourself how to code in a new language today! <a href="https://www.udemy.com/">Click here </a> to find out more </p>
</div>
</div>


<div class="option3">
<img src="img/Notepad++.png" alt="logo"/>
<div>
<h1> Coursera  </h1>
<p> Coursera offers a realiable and in depth courses relating to learning code. <a href="https://www.coursera.org/">Click here </a> to see what Coursera can provide for you! </p>
</div>
</div>


<div class="option4">
<img src="img/Premiere.png" alt="logo"/>
<div>
<h1> codecademy.com</h1>
<p> Provides interactive tutorials for learning new computer coding languages.  <a href="https://www.codecademy.com/">Click here </a> to see what codecademy.com can do! </p>
</div>
</div>



</div>




   {% endblock %}
  </body>
</html>
