<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  <div class="pagetitle">
<h1 style="text-align:center;">  Resources Categories </h1>
</div>

<div class="row">

	<div class="column">
	<a href="/images/"><img alt="Images" src="img/WordPress.png"></a>
                    <h2 style="text-align:center;">Images</h2>
                  <p style="text-align:center;"> Browse to leading stock photo providers in the market. </p>	
	</div>
	
	<div class="column">
	<a href="/video/"><img alt="Videos" src="img/WordPress.png"></a>
                    <h2 style="text-align:center;">Videos</h2>
                  <p style="text-align:center;"> Browse the best providers of stock videos available on the web today. </p>
	</div>
	
    <div class="column">
	<a href="/domain/"><img alt="Domain Registars" src="img/WordPress.png"></a>
                    <h2 style="text-align:center;">Domain Registars</h2>
                  <p style="text-align:center;"> Find a provider for your perfect domain name to use for your website. </p>
	</div>
	
    <div class="column">
	<a href="/learn/"><img alt="Learn to Code" src="img/WordPress.png"></a>
                    <h2 style="text-align:center;">Learn to Code</h2>
                  <p style="text-align:center;"> Find the best places on the web that allow you to learn how to code. </p>
	</div>
</div>






   {% endblock %}
  </body>
</html>
