<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  </div>
<div class="pagetitle">
<h2 style="text-align:center;">  Testing </h2>
</div>

<div class="container">
<div class="option1">
<img src="img/WordPress.png" alt="logo"/>
<div>
<h1> Selenium </h1>
<p> Accurate and reliable software testing ideal for any web developer. <a href="https://www.selenium.dev/">Click here </a> to check out its features </p>
</div>
</div>


<div class="option2">
<img src="img/Squarespace.png" alt="logo"/>
<div>
<h1> TestingWhiz </h1>
<p> TestingWhiz offers lots of great features that can help any web developer requiring to test their software. <a href="https://www.testing-whiz.com/">Click here </a> to find out more </p>
</div>
</div>


<div class="option3">
<img src="img/Notepad++.png" alt="logo"/>
<div>
<h1> TestComplete </h1>
<p> TestComplete is perhaps the most upcoming testing software on the market and offers a ton of great features. <a href="https://smartbear.com/product/testcomplete/overview/">Click here </a> to see what TestComplete can do for you! </p>
</div>
</div>


<div class="option4">
<img src="img/Premiere.png" alt="logo"/>
<div>
<h1> Ranorex</h1>
<p> Impressive features that could help any web developer looking to test their software.  <a href="https://www.ranorex.com/">Click here </a> to see what Ranorex can do! </p>
</div>
</div>



</div>




   {% endblock %}
  </body>
</html>
