<!DOCTYPE html>
<html>
<body>
{% extends "layout.html" %}
{% block content %}
<div class="pagetitle">
<h1 style="text-align:center;">  Tools Categories </h1>
</div>

<div class="row">

	<div class="column">
	<a href="/testing/"><img alt="testing" src="../static/img/Testing.png"></a>
                    <h2 style="text-align:center;">Testing</h2>
                  <p style="text-align:center;"> Browse tools to use when testing your website. </p>	
	</div>
	
	<div class="column">
	<a href="/hosting/"><img alt="hosting" src="../static/img/hosting.png"></a>
                    <h2 style="text-align:center;">Hosting</h2>
                  <p style="text-align:center;"> Unsure where you should host your website? <a href="hosting.html">Click here </a> to view the best and latest hosting platforms on the market. </p>
	</div>
	
    <div class="column">
	<a href="/security/"><img alt="security" src="../static/img/Security.png"></a>
                    <h2 style="text-align:center;">Security</h2>
                  <p style="text-align:center;"> Security for your sight is important. Make sure you chose the right tools to ensure safety on your website. </p>
	</div>
	
    
</div>

{% endblock %}
</body>
</html>
